<h1><%= title @auditable, @auditable_type %></h1>

<%= render "search_form" %>

<table>
  <thead>
    <tr>
      <% if @auditable_type.blank? %>
        <th><%=t "activerecord.attributes.audit.auditable_type" %></th>
      <% end %>
      <% if @auditable.blank? %>
        <th><%=t "activerecord.attributes.audit.auditable" %></th>
      <% end %>
      <th><%= sort_link @q, :version, t("activerecord.attributes.audit.version") %></th>
      <th><%= sort_link @q, :created_at, t("activerecord.attributes.audit.created_at") %></th>
      <th><%=t "activerecord.attributes.audit.action" %></th>
      <th><%=t "activerecord.attributes.audit.user" %></th>
      <th colspan="3"><%=t "activerecord.attributes.audit.audited_changes" %></th>
      <th><%=t "activerecord.attributes.audit.comment" %></th>
    </tr>
    <tr>
      <th colspan="<%= 6 - [@auditable_type, @auditable].compact.size %>"></th>
      <th><%=t ".attribute" %></th>
      <th><%=t ".before" %></th>
      <th><%=t ".after" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @audits.any? %>
      <% @audits.each do |audit| %>
        <% audit.audited_changes.each_with_index do |(attribute, change), i| %>
          <tr>
            <% if i.zero? %>
              <% if @auditable_type.blank? %>
                <td rowspan="<%= audit.audited_changes.size %>">
                  <%= link_to t("activerecord.models.#{audit.auditable_type.underscore.downcase}"), audited_auditable_type_audits_path(audit.auditable_type.underscore.downcase) %>
                </td>
              <% end %>
              <% if @auditable.blank? %>
                <td rowspan="<%= audit.audited_changes.size %>">
                  <%= link_to audit.auditable, audited_auditable_audits_path(auditable_type: audit.auditable_type.underscore.downcase, auditable_id: audit.auditable_id) %>
                </td>
              <% end %>
              <td rowspan="<%= audit.audited_changes.size %>"><%= audit.version %></td>
              <td rowspan="<%= audit.audited_changes.size %>"><%= audit.created_at %></td>
              <td rowspan="<%= audit.audited_changes.size %>"><%=t ".actions.#{audit.action}" %></td>
              <td rowspan="<%= audit.audited_changes.size %>"><%= audit.user.try(:email) || t(".system") %></td>
            <% end %>
            <td><%=t "activerecord.attributes.#{audit.auditable_type.underscore.downcase}.#{attribute}" %></td>
            <% if change.is_a? Array %>
              <td><%= change.first %></td>
              <td><%= change.last %></td>
            <% else %>
              <td></td>
              <td><%= change %></td>
            <% end %>
            <td><%= audit.comment %></td>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8"><%=t ".empty" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @audits %>
